= render "header"

%main.answer_new
  = form_with url: root_path, local: true, class: 'answer_new__form' do |f|

    .answer_new__form__item
      %label.bold{ for: "theme" } 【お題】
      %br
      %label 
        = @theme.body
    
    .answer_new__form__item
      %label.bold{ for: "item" } 【使用可能アイテム】
      %br
      %label 
        = @item_1.name + ' / ' + @item_2.name + ' / ' + @item_3.name

    .answer_new__form__item
      %label{ for: "item" } ※最低1個はアイテムを使用して回答してみてね！

    .answer_new__form__item
      .answer_new__form__item--wrap
        %a.twitter-share-button{data:{hashtags: "Fox and Candy !"}, data:{url: "http://54.65.143.255/"}, data:{lang: "ja"}, data:{'show-count' => "false"}, data:{size: "large"}, data:{text: "#Fox_and_Candy\n#お題\n##{@theme.body}\n#使用可能アイテム\n##{@item_1.name + '_' + @item_2.name + '_' + @item_3.name}\n#最低1個はアイテムを使用して回答してみてね"}, href: "https://twitter.com/share?ref_src=twsrc%5Etfw"} ツイート
        %script{async: "", charset: "utf-8", src: "https://platform.twitter.com/widgets.js"}
        %span.twitter-span ←Twitterでシェアして回答しよう！
  
  =link_to 'トップページに戻る', root_path, class: 'answer_new__link', data:{turbolinks: :false}